@model DBProject.Models.Brand

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}

<h2>Delete</h2>


<table class="table">
    <tr>
        <td>Brand Id </td>
        <td>@Model.BrandID</td>
    </tr>
    <tr>
        <td>Brand Name </td>
        <td>@Model.BrandName</td>
    </tr>
</table>

<form class="form" action="/Brand/Delete/@Model.BrandID" method="post">

    <button type="submit" class="btn bg-danger text-white" >Delete</button>
    <a href="/Brand/Index" class="btn bg-success text-white">Cancle</a>
</form>

