@*category intex page*@
@model List<DBProject.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}

<h2>Categories</h2>
<a href="/Category/Create/">Create</a>
<form action="/Brand/Index" method="post" class="form-inline">
    <label for="search" class="mr-1">Search</label>
    <input type="text" placeholder="Search" name="search" value="@ViewBag.Search" class="form-control mr-1" />
    <button type="submit" class="btn-primary btn text-white">GO</button>
</form>

<table class="table">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/Detail/@item.CategoryID">Detail</a></td>
            <td><a href="/Category/Edit/@item.CategoryID">Edit</a></td>
            <td><a href="/Category/Delete/@item.CategoryID">Delete</a></td>

        </tr>
    }

</table>